<div>
  @if (isVideoDataReady) {
    <div class="card mt-4 mx-auto rounded-5" style="width: 90%; max-width: 800px;">
      <div class="row no-gutters">
        <!-- Iframe Container -->
        <div class="col-md">
          <iframe style="border-radius: 20px; width: 100%; height: 100%; min-height: 240px;" [src]="videoEmbed" class="d-block" allowfullscreen></iframe>
        </div>
        <!-- Text and Image Container -->
        <div class="col-md d-flex flex-column">
          <div class="ms-2 me-2 mt-4">
            <a class="text-decoration-none" [href]="videoUrl">
              <!-- Uncomment the following line to include a thumbnail -->
              <!-- <img class="rounded mx-auto d-block" [src]="thumbnailUrl" alt="Thumbnail" style="width: 50%;"> -->
              <h5 class="text-decoration-none text-secondary fw-bold">{{ title }}</h5>
            </a>
            <a class="text-decoration-none" [href]="channelUrl">
              <p class="text-secondary fw-bold">{{ author }}</p>
            </a>
            <div class="d-block text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye me-1" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
              <span class="me-2">{{views}}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download ms-2" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
              </svg>
              <span class="ms-2">{{downloads}}</span>
            </div>
          </div>
          <button class="w-50 d-block mx-auto mt-4 mb-4 btn btn-primary btn-lg gg-bg-red-light btn-danger" (click)="downloadAudio()">
            @if(isLoading){
              <img height="30px" src="./assets/loading.gif" alt="Loading Animation">
            }
            @else{
              <span>Download Audio</span>
            }
          </button>
        </div>
      </div>
    </div>
  }
</div>
