<div class="mt-4 container text-center">
  <h1 class="display-5 fw-semibold gg-text-red-light">Page not found</h1>
  <p class="fs-5"> <span class="gg-text-red-light">Oops!</span> We can't seem to find the page you're looking for.</p>
  <img src="./assets/404.png" alt="Page Not Found" class="img-fluid my-2" style="max-width: 25%;">
  <div>
    <p class="lead">Maybe try one of these links:</p>
    <a class="btn btn-secondary btn-lg m-2" routerLink="/">Home</a>
    <a class="btn btn-secondary btn-lg m-2" routerLink="/conversion">Convert</a>
    <a class="btn btn-secondary btn-lg m-2" routerLink="/contact">About us</a>
  </div>
</div>
