<nav class="navbar navbar-expand-lg fixed-top navbar-light gg-bg-black" data-bs-theme="dark">
  <div class="container mt-2 mb-2">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      GrooveGrabber
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/convert">Convert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Get in touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
