<div class="container mt-5 p-3 bg-light shadow-sm rounded">
  <h1 class="gradient-text text-center">Welcome to GrooveGrabber!</h1>
  <p class="lead text-center">
    Convert YouTube URLs to MP3 files – easy, fast, and free.
  </p>
</div>

<div class="container mt-5 p-5 bg-light shadow-sm rounded">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Easy to Use</h5>
          <p class="card-text">Simply enter the URL on our conversion page or append the VideoID to the URL.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">100% Free</h5>
          <p class="card-text">Our service is completely free and without ads. Enjoy music without interruptions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Privacy Guaranteed</h5>
          <p class="card-text">Your data is safe with us and will not be forwarded or stored.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Call-to-Action Button für mehr Interaktion -->
  <div class="text-center mt-5">
    <a routerLink="/conversion" class="btn btn-primary btn-lg gg-bg-red-light btn-danger">Convert now!</a>
  </div>
</div>
