<div class="container mt-4">
  <div class="container mt-2 p-2 bg-light shadow-sm rounded">
    <h1 class="gradient-text text-center">Get in touch</h1>
  </div>

  <div class="container mt-4 p-5 bg-light shadow-sm rounded">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Call us</h5>
            <p class="card-text">For urgencies you can call us using this number:</p>
            <a class="fw-bold gg-text-red-light" href="tel:+436601122333">+43 660 1122333</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Message us</h5>
            <p class="card-text">For more complicated inquiries you can E-Mail us at:</p>
            <a class="fw-bold gg-text-red-light" href="mailto:190432@studierende.htl-donaustadt.at">190432&#64;studierende.htl-donaustadt.at</a>            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 row row-cols-1 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">If you make an appointment in advance, you can also speak to us personally at this location:</p>
            <a class="fw-bold gg-text-red-light" href="https://maps.google.com/?q=HTL%20Donaustadt%20Donaustadtstraße%2045%2C%201220%20Vienna%2C%20Austria">Donaustadtstraße 45, 1220 Vienna, Austria</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
